0 ECALL_encrypt_DO_data 5 ECALL_OUT
1 ECALL_encrypt_DO_data 6 ECALL_OUT
2 ECALL_get_DO_data_key 0 ECALL_OUT
3 OCALL_print_string 0 OCALL_IN
4 ECALL_compute_task1 8 ECALL_OUT
5 ECALL_compute_task1 10 ECALL_OUT
6 ECALL_compute_task2 8 ECALL_OUT
7 ECALL_compute_task2 10 ECALL_OUT
8 ECALL_compute_task3 8 ECALL_OUT
9 ECALL_compute_task3 10 ECALL_OUT
10 ECALL_get_K_result_hashes 1 ECALL_OUT
10 ECALL_get_K_result_hashes 2 ECALL_OUT
10 ECALL_get_K_result_hashes 3 ECALL_OUT
10 ECALL_get_K_result_hashes 4 ECALL_OUT
10 ECALL_get_K_result_hashes 5 ECALL_OUT
10 ECALL_get_K_result_hashes 6 ECALL_OUT