#ID #FUNCTION NAME                      #PARAMETER INDEX     #LEAK TYPE 
0 ocall_println_string 0 OCALL_IN
1 ocall_print_string 0 OCALL_IN
2 ocall_print_error 0 OCALL_IN
3 ocall_lstat 1 OCALL_IN
4 ocall_stat 1 OCALL_IN
5 ocall_getcwd 0 OCALL_IN
6 ocall_open64 0 OCALL_IN
7 ocall_write 1 OCALL_IN
8 ocall_fcntl 2 OCALL_IN
9 ocall_unlink 0 OCALL_IN