#ID #FUNCTION NAME                      #PARAMETER INDEX     #LEAK TYPE 
0 enclave_init_ra 1 ECALL_OUT
1 enclave_ra_close 0 ECALL_USER_CHECK
2 put_secret_data 5 ECALL_OUT
3 process_data 4 ECALL_OUT
4 process_data 6 ECALL_OUT
5 retrieve_data 5 ECALL_OUT
6 retrieve_data 6 ECALL_OUT
7 ocall_print_secret 0 OCALL_IN