#ID #FUNCTION NAME                      #PARAMETER INDEX     #LEAK TYPE 
#1   ecall_SSL_read    0    ECALL_USER_CHECK
#2   ecall_SSL_read    1    ECALL_USER_CHECK
#3   ecall_OPENSSL_config    0    ECALL_USER_CHECK
#4   ecall_SSL_get_ex_new_index    1    ECALL_USER_CHECK
#5   ecall_SSL_get_ex_new_index    2    ECALL_USER_CHECK
#6   ecall_SSL_get_ex_new_index    3    ECALL_USER_CHECK
#7   ecall_SSL_get_ex_new_index    4    ECALL_USER_CHECK
#8   ecall_SSL_CTX_get_ex_new_index    1    ECALL_USER_CHECK
#9   ecall_SSL_CTX_get_ex_new_index    2    ECALL_USER_CHECK
#10   ecall_SSL_CTX_get_ex_new_index    3    ECALL_USER_CHECK
#11   ecall_SSL_CTX_get_ex_new_index    4    ECALL_USER_CHECK
#12   ecall_X509_get_ex_new_index    1    ECALL_USER_CHECK
#13   ecall_X509_get_ex_new_index    2    ECALL_USER_CHECK
#14   ecall_X509_get_ex_new_index    3    ECALL_USER_CHECK
#15   ecall_X509_get_ex_new_index    4    ECALL_USER_CHECK
#16   ecall_SSL_CTX_new    0    ECALL_USER_CHECK
#17   ecall_SSL_CTX_set_ex_data    0    ECALL_USER_CHECK
#18   ecall_SSL_CTX_set_ex_data    2    ECALL_USER_CHECK
#19   ecall_SSL_CTX_ctrl    0    ECALL_USER_CHECK
#20   ecall_SSL_CTX_ctrl    3    ECALL_USER_CHECK
#21   ecall_SSL_CTX_set_info_callback    0    ECALL_USER_CHECK
#22   ecall_SSL_CTX_set_info_callback    1    ECALL_USER_CHECK
#23   ecall_SSL_CTX_callback_ctrl    0    ECALL_USER_CHECK
#24   ecall_SSL_CTX_callback_ctrl    2    ECALL_USER_CHECK
#25   ecall_SSL_CTX_set_alpn_select_cb    0    ECALL_USER_CHECK
#26   ecall_SSL_CTX_set_alpn_select_cb    1    ECALL_USER_CHECK
#27   ecall_SSL_CTX_set_alpn_select_cb    2    ECALL_USER_CHECK
#28   ecall_SSL_CTX_set_next_protos_advertised_cb    0    ECALL_USER_CHECK
#29   ecall_SSL_CTX_set_next_protos_advertised_cb    1    ECALL_USER_CHECK
#30   ecall_SSL_CTX_set_next_protos_advertised_cb    2    ECALL_USER_CHECK
#31   ecall_BIO_new_file    0    ECALL_USER_CHECK
#32   ecall_BIO_new_file    1    ECALL_USER_CHECK
##33   ecall_BIO_new_file    2    ECALL_USER_CHECK
#34   ecall_PEM_read_bio_X509_AUX    0    ECALL_USER_CHECK
#35   ecall_PEM_read_bio_X509_AUX    1    ECALL_USER_CHECK
#36   ecall_PEM_read_bio_X509_AUX    2    ECALL_USER_CHECK
#37   ecall_PEM_read_bio_X509_AUX    3    ECALL_USER_CHECK
#38   ecall_SSL_CTX_use_certificate    0    ECALL_USER_CHECK
#39   ecall_SSL_CTX_use_certificate    1    ECALL_USER_CHECK
#40   ecall_SSL_CTX_get_ex_data    0    ECALL_USER_CHECK
#41   ecall_X509_set_ex_data    0    ECALL_USER_CHECK
#42   ecall_X509_set_ex_data    2    ECALL_USER_CHECK
#43   ecall_PEM_read_bio_X509    0    ECALL_USER_CHECK
#44   ecall_PEM_read_bio_X509    1    ECALL_USER_CHECK
#45   ecall_PEM_read_bio_X509    2    ECALL_USER_CHECK
#46   ecall_PEM_read_bio_X509    3    ECALL_USER_CHECK
#47   ecall_ERR_peek_error_line_data    0    ECALL_USER_CHECK
#48   ecall_ERR_peek_error_line_data    1    ECALL_USER_CHECK
#49   ecall_ERR_peek_error_line_data    2    ECALL_USER_CHECK
#50   ecall_ERR_peek_error_line_data    3    ECALL_USER_CHECK
#51   ecall_ERR_error_string_n    1    ECALL_USER_CHECK
#52   ecall_BIO_free    0    ECALL_USER_CHECK
#53   ecall_SSL_CTX_use_PrivateKey_file    0    ECALL_USER_CHECK
#54   ecall_SSL_CTX_use_PrivateKey_file    1    ECALL_USER_CHECK
#55   ecall_SSL_CTX_set_default_passwd_cb    0    ECALL_USER_CHECK
#56   ecall_SSL_CTX_set_default_passwd_cb    1    ECALL_USER_CHECK
#57   ecall_SSL_CTX_set_cipher_list    0    ECALL_USER_CHECK
#58   ecall_SSL_CTX_set_cipher_list    1    ECALL_USER_CHECK
#59   ecall_SSL_CTX_set_verify_depth    0    ECALL_USER_CHECK
#60   ecall_OBJ_sn2nid    0    ECALL_USER_CHECK
#61   ecall_EC_KEY_free    0    ECALL_USER_CHECK
#62   ecall_SSL_CTX_set_timeout    0    ECALL_USER_CHECK
#63   ecall_EVP_DigestInit_ex    0    ECALL_USER_CHECK
#64   ecall_EVP_DigestInit_ex    1    ECALL_USER_CHECK
#65   ecall_EVP_DigestInit_ex    2    ECALL_USER_CHECK
#66   ecall_EVP_DigestUpdate    0    ECALL_USER_CHECK
#67   ecall_EVP_DigestUpdate    1    ECALL_USER_CHECK
#68   ecall_X509_digest    0    ECALL_USER_CHECK
#69   ecall_X509_digest    1    ECALL_USER_CHECK
#70   ecall_X509_digest    2    ECALL_USER_CHECK
#71   ecall_X509_digest    3    ECALL_USER_CHECK
#72   ecall_X509_get_ex_data    0    ECALL_USER_CHECK
#73   ecall_SSL_CTX_get_client_CA_list    0    ECALL_USER_CHECK
#74   ecall_sk_num    0    ECALL_USER_CHECK
#75   ecall_EVP_DigestFinal_ex    0    ECALL_USER_CHECK
#76   ecall_EVP_DigestFinal_ex    1    ECALL_USER_CHECK
#77   ecall_EVP_DigestFinal_ex    2    ECALL_USER_CHECK
#78   ecall_EVP_MD_CTX_destroy    0    ECALL_USER_CHECK
#79   ecall_SSL_CTX_set_session_id_context    0    ECALL_USER_CHECK
#80   ecall_SSL_CTX_set_session_id_context    1    ECALL_USER_CHECK
#81   ecall_SSL_CTX_sess_set_new_cb    0    ECALL_USER_CHECK
#82   ecall_SSL_CTX_sess_set_new_cb    1    ECALL_USER_CHECK
#83   ecall_SSL_CTX_sess_set_get_cb    0    ECALL_USER_CHECK
#84   ecall_SSL_CTX_sess_set_get_cb    1    ECALL_USER_CHECK
#85   ecall_SSL_CTX_sess_set_remove_cb    0    ECALL_USER_CHECK
#86   ecall_SSL_CTX_sess_set_remove_cb    1    ECALL_USER_CHECK
#87   ecall_SSL_new    0    ECALL_USER_CHECK
#88   ecall_SSL_new    1    ECALL_USER_CHECK
#89   ecall_SSL_set_fd    0    ECALL_USER_CHECK
#90   ecall_SSL_set_accept_state    0    ECALL_USER_CHECK
#91   ecall_SSL_do_handshake    0    ECALL_USER_CHECK
#92   ecall_SSL_get_error    0    ECALL_USER_CHECK
#93   ecall_SSL_get_rbio    0    ECALL_USER_CHECK
#94   ecall_SSL_get_wbio    0    ECALL_USER_CHECK
#95   ecall_BIO_int_ctrl    0    ECALL_USER_CHECK
#96   ecall_SSL_state    0    ECALL_USER_CHECK
#97   ecall_SSL_get_current_cipher    0    ECALL_USER_CHECK
#98   ecall_SSL_CIPHER_description    0    ECALL_USER_CHECK
#99   ecall_SSL_CIPHER_description    1    ECALL_USER_CHECK
#100   ecall_SSL_get_version_as_int    0    ECALL_USER_CHECK
#101   ecall_SSL_ctrl    0    ECALL_USER_CHECK
#102   ecall_SSL_ctrl    3    ECALL_USER_CHECK
#103   ecall_SSL_write    0    ECALL_USER_CHECK
#104   ecall_SSL_write    1    ECALL_USER_CHECK
#105   ecall_SSL_get_shutdown    0    ECALL_USER_CHECK
#106   ecall_SSL_set_quiet_shutdown    0    ECALL_USER_CHECK
#107   ecall_SSL_set_shutdown    0    ECALL_USER_CHECK
#108   ecall_SSL_free    0    ECALL_USER_CHECK
#109   ecall_SSL_shutdown    0    ECALL_USER_CHECK
#110   ecall_SSL_get_servername    0    ECALL_USER_CHECK
#111   ecall_SSL_get_servername    2    ECALL_USER_CHECK
#112   ecall_SSL_get_servername    3    ECALL_USER_CHECK
#113   ecall_i2d_SSL_SESSION    0    ECALL_USER_CHECK
#114   ecall_i2d_SSL_SESSION    1    ECALL_USER_CHECK
#115   ecall_d2i_SSL_SESSION    0    ECALL_USER_CHECK
#116   ecall_d2i_SSL_SESSION    1    ECALL_USER_CHECK
#117   ecall_SSL_SESSION_get_id    0    ECALL_USER_CHECK
#118   ecall_SSL_SESSION_get_id    1    ECALL_USER_CHECK
#119   ecall_SSL_SESSION_get_id    2    ECALL_USER_CHECK
#120   ecall_SSL_CTX_get_timeout    0    ECALL_USER_CHECK
#121   ecall_MD5_Init    0    ECALL_USER_CHECK
#122   ecall_MD5_Update    0    ECALL_USER_CHECK
#123   ecall_MD5_Update    1    ECALL_USER_CHECK
#124   ecall_MD5_Final    0    ECALL_USER_CHECK
#125   ecall_MD5_Final    1    ECALL_USER_CHECK
#126   ecall_SSL_CTX_free    0    ECALL_USER_CHECK
#127   ecall_EVP_get_digestbyname    0    ECALL_USER_CHECK
#128   ecall_BIO_new    0    ECALL_USER_CHECK
#129   ecall_BIO_new    1    ECALL_USER_CHECK
#130   ecall_BIO_ctrl    0    ECALL_USER_CHECK
#131   ecall_BIO_ctrl    3    ECALL_USER_CHECK
#132   ecall_SSL_CTX_set_tmp_rsa_callback    0    ECALL_USER_CHECK
#133   ecall_SSL_CTX_set_tmp_rsa_callback    1    ECALL_USER_CHECK
#134   ecall_SSL_CTX_set_verify    0    ECALL_USER_CHECK
#135   ecall_SSL_CTX_set_verify    2    ECALL_USER_CHECK
#136   ecall_X509_check_issued    0    ECALL_USER_CHECK
#137   ecall_X509_check_issued    1    ECALL_USER_CHECK
#138   ecall_X509_free    0    ECALL_USER_CHECK
#139   ecall_SSL_CTX_set_default_verify_paths    0    ECALL_USER_CHECK
#140   ecall_SSL_CTX_set_next_proto_select_cb    0    ECALL_USER_CHECK
#141   ecall_SSL_CTX_set_next_proto_select_cb    1    ECALL_USER_CHECK
#142   ecall_SSL_CTX_set_next_proto_select_cb    2    ECALL_USER_CHECK
#143   ecall_SSL_CTX_set_cert_verify_callback    0    ECALL_USER_CHECK
#144   ecall_SSL_CTX_set_cert_verify_callback    1    ECALL_USER_CHECK
#145   ecall_SSL_CTX_set_cert_verify_callback    2    ECALL_USER_CHECK
#146   ecall_PEM_read_bio_PrivateKey    0    ECALL_USER_CHECK
#147   ecall_PEM_read_bio_PrivateKey    1    ECALL_USER_CHECK
#148   ecall_PEM_read_bio_PrivateKey    2    ECALL_USER_CHECK
#149   ecall_PEM_read_bio_PrivateKey    3    ECALL_USER_CHECK
#150   ecall_X509_check_private_key    0    ECALL_USER_CHECK
#151   ecall_X509_check_private_key    1    ECALL_USER_CHECK
#152   ecall_EVP_PKEY_free    0    ECALL_USER_CHECK
#153   ecall_X509_get_subject_name    0    ECALL_USER_CHECK
#154   ecall_X509_pubkey_digest    0    ECALL_USER_CHECK
#155   ecall_X509_pubkey_digest    1    ECALL_USER_CHECK
#156   ecall_X509_pubkey_digest    2    ECALL_USER_CHECK
#157   ecall_X509_pubkey_digest    3    ECALL_USER_CHECK
#158   ecall_X509_NAME_get_text_by_NID    0    ECALL_USER_CHECK
#159   ecall_X509_NAME_get_text_by_NID    2    ECALL_USER_CHECK
#160   ecall_CRYPTO_add_lock    0    ECALL_USER_CHECK
#161   ecall_CRYPTO_add_lock    3    ECALL_USER_CHECK
#162   ecall_BN_set_word    0    ECALL_USER_CHECK
#163   ecall_X509_set_pubkey    0    ECALL_USER_CHECK
#164   ecall_X509_set_pubkey    1    ECALL_USER_CHECK
#165   ecall_BN_is_zero    0    ECALL_USER_CHECK
#166   ecall_BN_free    0    ECALL_USER_CHECK
#167   ecall_X509_get_serialNumber    0    ECALL_USER_CHECK
#168   ecall_BN_dup    0    ECALL_USER_CHECK
#169   ecall_BN_to_ASN1_INTEGER    0    ECALL_USER_CHECK
#170   ecall_BN_to_ASN1_INTEGER    1    ECALL_USER_CHECK
#171   ecall_X509_set_subject_name    0    ECALL_USER_CHECK
#172   ecall_X509_set_subject_name    1    ECALL_USER_CHECK
#173   ecall_X509_NAME_get_index_by_NID    0    ECALL_USER_CHECK
#174   ecall_X509_NAME_get_entry    0    ECALL_USER_CHECK
#175   ecall_X509_NAME_delete_entry    0    ECALL_USER_CHECK
#176   ecall_X509_NAME_ENTRY_free    0    ECALL_USER_CHECK
#177   ecall_X509_NAME_add_entry_by_NID    0    ECALL_USER_CHECK
#178   ecall_X509_NAME_add_entry_by_NID    3    ECALL_USER_CHECK
#179   ecall_X509_get_notBefore    0    ECALL_USER_CHECK
#180   ecall_X509_get_notAfter    0    ECALL_USER_CHECK
#181   ecall_X509_set_notBefore    0    ECALL_USER_CHECK
#182   ecall_X509_set_notBefore    1    ECALL_USER_CHECK
#183   ecall_X509_set_notAfter    0    ECALL_USER_CHECK
#184   ecall_X509_set_notAfter    1    ECALL_USER_CHECK
#185   ecall_X509_get_cert_key_algor_algorithm    0    ECALL_USER_CHECK
#186   ecall_X509_alias_get0    0    ECALL_USER_CHECK
#187   ecall_X509_alias_get0    1    ECALL_USER_CHECK
#188   ecall_OBJ_obj2nid    0    ECALL_USER_CHECK
#189   ecall_X509_get_ext_by_NID    0    ECALL_USER_CHECK
#190   ecall_X509_get_ext    0    ECALL_USER_CHECK
#191   ecall_X509_set_issuer_name    0    ECALL_USER_CHECK
#192   ecall_X509_set_issuer_name    1    ECALL_USER_CHECK
#193   ecall_X509_sign    0    ECALL_USER_CHECK
#194   ecall_X509_sign    1    ECALL_USER_CHECK
#195   ecall_X509_sign    2    ECALL_USER_CHECK
#196   ecall_BN_bin2bn    0    ECALL_USER_CHECK
#197   ecall_BN_bin2bn    2    ECALL_USER_CHECK
#198   ecall_BN_num_bits    0    ECALL_USER_CHECK
#199   ecall_BN_is_bit_set    0    ECALL_USER_CHECK
#200   ecall_SSL_CTX_use_PrivateKey    0    ECALL_USER_CHECK
#201   ecall_SSL_CTX_use_PrivateKey    1    ECALL_USER_CHECK
#202   ecall_ERR_error_string    1    ECALL_USER_CHECK
#203   ecall_SSL_set_info_callback    0    ECALL_USER_CHECK
#204   ecall_SSL_set_info_callback    1    ECALL_USER_CHECK
#205   ecall_X509_get_algorithm    0    ECALL_USER_CHECK
#206   ecall_ssl3_get_cipher_name_by_char    0    ECALL_USER_CHECK
#207   ecall_ssl3_get_cipher_name_by_char    1    ECALL_USER_CHECK
#208   ecall_SSL_set_cipher_list    0    ECALL_USER_CHECK
#209   ecall_SSL_set_cipher_list    1    ECALL_USER_CHECK
#210   ecall_SSL_connect    0    ECALL_USER_CHECK
#211   ecall_X509_NAME_oneline    0    ECALL_USER_CHECK
#212   ecall_X509_NAME_oneline    1    ECALL_USER_CHECK
#213   ecall_EVP_MD_type    0    ECALL_USER_CHECK
#214   ecall_PEM_ASN1_write    0    ECALL_USER_CHECK
#215   ecall_PEM_ASN1_write    1    ECALL_USER_CHECK
#216   ecall_PEM_ASN1_write    2    ECALL_USER_CHECK
#217   ecall_PEM_ASN1_write    3    ECALL_USER_CHECK
#218   ecall_PEM_ASN1_write    4    ECALL_USER_CHECK
#219   ecall_PEM_ASN1_write    5    ECALL_USER_CHECK
#220   ecall_PEM_ASN1_write    7    ECALL_USER_CHECK
#221   ecall_PEM_ASN1_write    8    ECALL_USER_CHECK
#222   ecall_X509_NAME_ENTRY_get_data    0    ECALL_USER_CHECK
#223   ecall_sk_value    0    ECALL_USER_CHECK
#224   ecall_SSL_pending    0    ECALL_USER_CHECK
#225   ecall_X509_add_ext    0    ECALL_USER_CHECK
#226   ecall_X509_add_ext    1    ECALL_USER_CHECK
#227   ecall_X509_set_version    0    ECALL_USER_CHECK
#228   ecall_SSL_get_ciphers    0    ECALL_USER_CHECK
#229   ecall_SSL_CIPHER_get_name    0    ECALL_USER_CHECK
#230   ecall_SSL_state_string_long    0    ECALL_USER_CHECK
#231   ecall_SSL_use_certificate    0    ECALL_USER_CHECK
#232   ecall_SSL_use_certificate    1    ECALL_USER_CHECK
#233   ecall_SSL_use_PrivateKey    0    ECALL_USER_CHECK
#234   ecall_SSL_use_PrivateKey    1    ECALL_USER_CHECK
#235   ecall_sk_pop_free    0    ECALL_USER_CHECK
#236   ecall_sk_pop_free    1    ECALL_USER_CHECK
#237   ecall_GENERAL_NAME_free    0    ECALL_USER_CHECK
#238   ecall_SSL_SESSION_set_timeout    0    ECALL_USER_CHECK
#239   ecall_BN_clear_bit    0    ECALL_USER_CHECK
#240   ecall_SSL_select_next_proto    0    ECALL_USER_CHECK
#241   ecall_SSL_select_next_proto    1    ECALL_USER_CHECK
#242   ecall_SSL_select_next_proto    2    ECALL_USER_CHECK
#243   ecall_SSL_select_next_proto    4    ECALL_USER_CHECK
#244   ecall_SSL_set_alpn_protos    0    ECALL_USER_CHECK
#245   ecall_SSL_set_alpn_protos    1    ECALL_USER_CHECK
#246   ecall_OBJ_txt2nid    0    ECALL_USER_CHECK
#247   ecall_OBJ_create    0    ECALL_USER_CHECK
#248   ecall_OBJ_create    1    ECALL_USER_CHECK
#249   ecall_OBJ_create    2    ECALL_USER_CHECK
#250   ecall_SSL_CTX_get_cert_store    0    ECALL_USER_CHECK
#251   ecall_SSL_CTX_use_certificate_chain_file    0    ECALL_USER_CHECK
#252   ecall_SSL_CTX_use_certificate_chain_file    1    ECALL_USER_CHECK
#253   ecall_SSL_CTX_check_private_key    0    ECALL_USER_CHECK
#254   ecall_SSL_set_connect_state    0    ECALL_USER_CHECK
#255   ecall_SSL_get_certificate    0    ECALL_USER_CHECK
#256   ecall_X509_get_ext_d2i    0    ECALL_USER_CHECK
#257   ecall_X509_get_ext_d2i    2    ECALL_USER_CHECK
#258   ecall_X509_get_ext_d2i    3    ECALL_USER_CHECK
#259   ecall_EC_GROUP_free    0    ECALL_USER_CHECK
#260   ecall_SSL_set_session_id_context    0    ECALL_USER_CHECK
#261   ecall_SSL_set_session_id_context    1    ECALL_USER_CHECK
#262   ecall_ASN1_INTEGER_to_BN    0    ECALL_USER_CHECK
#263   ecall_ASN1_INTEGER_to_BN    1    ECALL_USER_CHECK
#264   ecall_BASIC_CONSTRAINTS_free    0    ECALL_USER_CHECK
#265   ecall_DH_free    0    ECALL_USER_CHECK
#266   ecall_SSL_set_verify_result    0    ECALL_USER_CHECK
#267   ecall_SSL_set_bio    0    ECALL_USER_CHECK
#268   ecall_SSL_set_bio    1    ECALL_USER_CHECK
#269   ecall_SSL_set_bio    2    ECALL_USER_CHECK
#270   ecall_SSL_accept    0    ECALL_USER_CHECK
#271   ecall_CRYPTO_set_id_callback    0    ECALL_USER_CHECK
#272   ecall_CRYPTO_set_locking_callback    0    ECALL_USER_CHECK
#273   ecall_CRYPTO_set_dynlock_create_callback    0    ECALL_USER_CHECK
#274   ecall_CRYPTO_set_dynlock_lock_callback    0    ECALL_USER_CHECK
#275   ecall_CRYPTO_set_dynlock_destroy_callback    0    ECALL_USER_CHECK
#276   ecall_SSL_CTX_set_tmp_dh_callback    0    ECALL_USER_CHECK
#277   ecall_SSL_CTX_set_tmp_dh_callback    1    ECALL_USER_CHECK
#278   ecall_X509_BC_get_pathlen    0    ECALL_USER_CHECK
#279   ecall_PEM_read_bio_DHparams    0    ECALL_USER_CHECK
#280   ecall_PEM_read_bio_DHparams    1    ECALL_USER_CHECK
#281   ecall_PEM_read_bio_DHparams    2    ECALL_USER_CHECK
#282   ecall_PEM_read_bio_DHparams    3    ECALL_USER_CHECK
#283   ecall_PEM_read_bio_ECPKParameters    0    ECALL_USER_CHECK
#284   ecall_PEM_read_bio_ECPKParameters    1    ECALL_USER_CHECK
#285   ecall_PEM_read_bio_ECPKParameters    2    ECALL_USER_CHECK
#286   ecall_PEM_read_bio_ECPKParameters    3    ECALL_USER_CHECK
#287   ecall_SSL_get_verify_result    0    ECALL_USER_CHECK
#288   ecall_SSL_get_peer_certificate    0    ECALL_USER_CHECK
#289   ecall_SSL_get_SSL_CTX    0    ECALL_USER_CHECK
#290   ecall_SSL_get_verify_mode    0    ECALL_USER_CHECK
#291   ecall_SSL_set_verify    0    ECALL_USER_CHECK
#292   ecall_SSL_set_verify    2    ECALL_USER_CHECK
#293   ecall_SSL_set_SSL_CTX    0    ECALL_USER_CHECK
#294   ecall_SSL_set_SSL_CTX    1    ECALL_USER_CHECK
#295   ecall_SSL_CTX_get_verify_mode    0    ECALL_USER_CHECK
#296   ecall_SSL_CTX_get_verify_callback    0    ECALL_USER_CHECK
#297   ecall_BN_dec2bn    0    ECALL_USER_CHECK
#298   ecall_BN_dec2bn    1    ECALL_USER_CHECK
#299   ecall_ENGINE_get_name    0    ECALL_USER_CHECK
#300   ecall_ENGINE_get_id    0    ECALL_USER_CHECK
301   ecall_SSL_get_privatekey    0    ECALL_USER_CHECK
302   ecall_SSL_get_privatekey    1    ECALL_USER_CHECK
#303   ecall_EVP_PKEY_bits    0    ECALL_USER_CHECK
#304   ecall_SSL_CTX_use_certificate_file    0    ECALL_USER_CHECK
#305   ecall_start_sgx_thread    0    ECALL_USER_CHECK
#306   ecall_start_sgx_thread    1    ECALL_USER_CHECK
#307   ecall_start_sgx_thread    7    ECALL_USER_CHECK