#ID #FUNCTION NAME                      #PARAMETER INDEX     #LEAK TYPE 
0 handle_request 2 ECALL_USER_CHECK
1 handle_request 3 ECALL_USER_CHECK
2 handle_request 4 ECALL_OUT
3 ecall_create_report  1 ECALL_OUT
4 ecall_get_mr_enclave 0 ECALL_OUT
5 ecall_time_calibrate 1 ECALL_OUT
6 ecdsa_keygen_seal 0 ECALL_USER_CHECK
7 ecdsa_keygen_seal 2 ECALL_USER_CHECK
8 ecdsa_keygen_seal 3 ECALL_USER_CHECK
9 ecdsa_keygen_unseal 2 ECALL_USER_CHECK
10 ecdsa_keygen_unseal 3 ECALL_USER_CHECK
11 tc_get_address 0 ECALL_USER_CHECK
12 tc_get_address 1 ECALL_USER_CHECK
13 tc_get_hybrid_pubkey 0 ECALL_USER_CHECK
14 set_enclave_kv 0 ECALL_USER_CHECK
15 set_enclave_kv 1 ECALL_USER_CHECK
16 ocall_logging 0 OCALL_IN
17 ocall_logging 1 OCALL_IN
18 ocall_logging 2 OCALL_IN
19 ocall_logging 3 OCALL_IN